extends ../../layouts/default.pug
include ../../mixins/pagination.pug
block main 
  h1 Danh sách sản phẩm
  .card 
    .card-header Danh sách
    .card-body
      .row 
        .col-8
        .col-4 
          a(href = `${prefixAdmin}/roles/create` class = "btn btn-outline-success") + Thêm mới
      table(class = "table table-hover table-sm" checkbox-multi)
        thead
          tr 
            th STT
            th Nhóm quyền 
            th Mô tả ngắn
            th Hành động
        tbody 
          if(records.length > 0)
            each item, index in records
              tr 
              td #{index + 1}
                //-td #{(pagination.limitItem)*(pagination.currentPage-1) + (index + 1) } 
                td #{item.title}
                td !{item.description}
                td 
                  a(class = "btn btn-warning btn-sm mb-1 mr-1" href =`${prefixAdmin}/roles/edit/${item.id}`) Sửa
                  button(class = "btn btn-danger btn-sm" button-delete data-id = item.id) Xóa
          else 
            tr 
              td(colspan = "4" class = "text-center") Chưa có nhóm quyền nào được tạo
  +pagination(pagination)
  form(
    action = ``
    method = "POST"
    data-path = `${prefixAdmin}/roles/delete`
    id = "form-delete-role"
  )
  script(src = "/admin/js/role.js")