extends ../../layouts/default.pug

block main 
    h1(class="mb-4") #{topic.title}
    div(class="mb-4")
      img(src=topic.avatar style="width: 100px")
    div(class="mb-4")
      span Trang thái:
      if (topic.status === "active")
        span(class="badge badge-success") Hoạt động
      else
        span(class="badge badge-danger") Dừng hoạt động
    if(topic.position)
      div(class = "mb-4") Vị trí : <b>#{topic.position}</b>
    if(topic.description)
      div(class = "mb-4") !{topic.description}
    a(
      href=`${prefixAdmin}/topics/edit/${topic.id}` 
      class = "btn btn-warning"
      ) Chỉnh sửa

    script(src = "/admin/js/topic.js")