extends ../../layouts/default.pug

block main
  h1(class="mb-4") #{pageTitle}

  form(
    action=`${prefixAdmin}/topics/edit/${topic.id}?_method=PATCH`
    method="POST"
    enctype="multipart/form-data"
  )
    div(class="form-group")
      label(for="title") Tiêu đề
      input(
        type="text"
        class="form-control"
        id="title"
        name="title"
        required
        value=topic.title
      )


    div(class="form-group" upload-image)
      label(for="thumbnail") Ảnh
      input(
        type="file"
        class="form-control-file"
        id="avatar"
        name="avatar"
        accept="image/*"
        upload-image-input
      )
      img(
        src=topic.avatar
        upload-image-preview
      )

    div(class="form-group")
      label(for="desc") Mô tả
      textarea(
        id="desc"
        name="description"
        class="form-control textarea-mce"
        rows="5"
      ) #{topic.description}

      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusActive"
          name="status"
          value="active"
          checked=(topic.status == "active" ? true : false)
        )
        label(for="statusActive" class="form-check-label") Hoạt động

      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusInActive"
          name="status"
          value="inactive"
          checked=(topic.status == "inactive" ? true : false)
        )
        label(for="statusInActive" class="form-check-label") Dừng

    button(type="submit" class="btn btn-primary") Cập nhật